<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fileName</key>
		<string>birthday</string>
		<key>artist</key>
		<string>birthday</string>
		<key>title</key>
		<string>birthday</string>
		<key>itemImage</key>
		<string>pic_1</string>
        <key>videoAddress</key>
        <string>https://player.vimeo.com/external/212638612.sd.mp4?s=49b6d5208d2f45308b37c1fcb551ecf33b388f30</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>black_ant</string>
		<key>artist</key>
		<string>black_ant</string>
		<key>title</key>
		<string>black_ant</string>
		<key>itemImage</key>
		<string>pic_2</string>
        <key>videoAddress</key>
        <string>https://player.vimeo.com/external/211655655.sd.mp4?s=f9985a81b298ae3f786b2c2c133910a1ab5c291e</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>box_cat</string>
		<key>artist</key>
		<string>box_cat</string>
		<key>title</key>
		<string>box_cat</string>
		<key>itemImage</key>
		<string>pic_3</string>
        <key>videoAddress</key>
        <string>https://player.vimeo.com/external/209165711.sd.mp4?s=299b5dc333f6e6fbc77b094715e39c9977e36888</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>energy</string>
		<key>artist</key>
		<string>energy</string>
		<key>title</key>
		<string>energy</string>
		<key>itemImage</key>
		<string>pic_4</string>
        <key>videoAddress</key>
        <string>https://player.vimeo.com/external/207209033.hd.mp4?s=ea975e5ac2a43ff2038d737e0c95c5b11268ae0a</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>faithful_dog</string>
		<key>artist</key>
		<string>faithful_dog</string>
		<key>title</key>
		<string>faithful_dog</string>
		<key>itemImage</key>
		<string>pic_5</string>
        <key>videoAddress</key>
        <string>https://player.vimeo.com/external/204506406.sd.mp4?s=68b7b8523b4cb8fa0690082bdd63302813f37ebd</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>humsafar</string>
		<key>artist</key>
		<string>humsafar</string>
		<key>title</key>
		<string>humsafar</string>
		<key>itemImage</key>
		<string>pic_6</string>
        <key>videoAddress</key>
        <string>https://player.vimeo.com/external/201447783.sd.mp4?s=130d8f7819c7535b49095089c9ba96d451615ff1</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>jason_shaw</string>
		<key>artist</key>
		<string>jason_shaw</string>
		<key>title</key>
		<string>jason_shaw</string>
		<key>itemImage</key>
		<string>pic_7</string>
        <key>videoAddress</key>
        <string>https://player.vimeo.com/external/200092486.sd.mp4?s=613baf0e2aaeb3cd49fcc342b3fbb12f71a3acaf</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>night_owl</string>
		<key>artist</key>
		<string>night_owl</string>
		<key>title</key>
		<string>night_owl</string>
		<key>itemImage</key>
		<string>pic_8</string>
        <key>videoAddress</key>
        <string>https://player.vimeo.com/external/199627560.sd.mp4?s=4d51ea25ca083b46834911fc794db2e99e6075c7</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>romantic</string>
		<key>artist</key>
		<string>romantic</string>
		<key>title</key>
		<string>romantic</string>
		<key>itemImage</key>
		<string>pic_9</string>
        <key>videoAddress</key>
        <string>https://player.vimeo.com/external/199224619.sd.mp4?s=801da27765a835ea41aa8b957553287d12661142</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>siesta</string>
		<key>artist</key>
		<string>siesta</string>
		<key>title</key>
		<string>siesta</string>
		<key>itemImage</key>
		<string>pic_10</string>
        <key>videoAddress</key>
        <string>https://player.vimeo.com/external/198606859.sd.mp4?s=fee252a8380077c07391b69a532710a837ae5d2e</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>siri</string>
		<key>artist</key>
		<string>siri</string>
		<key>title</key>
		<string>siri</string>
		<key>itemImage</key>
		<string>pic_11</string>
        <key>videoAddress</key>
        <string>https://player.vimeo.com/external/197914400.sd.mp4?s=55889f4eb38de82a28d258b71e6940d9d1c06560</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>springish</string>
		<key>artist</key>
		<string>springish</string>
		<key>title</key>
		<string>springish</string>
		<key>itemImage</key>
		<string>pic_12</string>
        <key>videoAddress</key>
        <string>https://player.vimeo.com/external/196282555.sd.mp4?s=71485a654e0ac9d1389d1d1c8abe0213be7777d9</string>
	</dict>
</array>
</plist>
